<div *ngIf="surah || ayah" class="container col-12 mx-0">

  <!-- Header - selected Surah / Ayah Details -->
  <div class="container p-0 mx-0 col-12 border-bottom mb-2">
    <div *ngIf="surahData && surahData.surahInfo" class="row p-0 m-0 text-center">
      <div class="col-md-4 col-sm-12 p-0 text-md-left text-sm-center">
        <h2>{{ surahData.surahInfo.name }} <button *ngIf="!showDetails"  value="more" class="icon-more border-0 p-2" (click)="showDetails=true"></button>
          <small class="text-muted font-size-10" *ngIf="showDetails"> | {{ surahData.surahInfo.englishName}}</small>
        </h2>
        <h5 *ngIf="showDetails">{{ surahData.surahInfo.englishNameTranslation }}
          <small class="text-muted"> | Ayahs:
            {{ surahData.surahInfo.numberOfAyahs }}</small>
        </h5>
        
      </div>
      <div class="col-md-4 col-sm-12 p-0">
        <div class="row w-100 bg-white mx-0 justify-content-center my-1 py-1">
          <button (click)="navBtnClick($event)" value="back" class="btn btn-tertiary icon-prev text-muted p-0 pl-3"
            *ngIf="navOn"><small>Back</small></button>
          <div>
            <span *ngIf="ayah">Surah: {{ surahData.surahInfo.number }}</span>
            <h3 *ngIf="!ayah">Surah: {{ surahData.surahInfo.number }}</h3>
            <span *ngIf="ayah">
              <h3>Ayah: {{ surahData.surahInfo.ayahInfo.numberInSurah }}</h3>
              <small>Ayah in Qur'an:</small> {{ surahData.surahInfo.ayahInfo.number }} of {{ totalAyahs }}
            </span>
          </div>
          <button (click)="navBtnClick($event)" value="next" class="btn btn-tertiary icon-next text-muted  p-0 pr-3"
            *ngIf="navOn"><small>Next</small></button>
        </div>
      </div>

      <div *ngIf="translations" class="col-md-4 col-sm-12 p-0 text-md-right text-sm-center">
        <h6>Translations</h6>
        <div class="col-md-4 col-sm-12 row justify-content-center float-md-right m-0 p-0 w-auto">
          <div class="px-1" *ngFor="let item of translations">
            <input type="checkbox" id="{{ 'trans-' + item.lang }}" name="trans" (click)='transClick($event)'
              value="{{ item.lang }}" class="mx-1" [checked]="isSelectedTrans(item.lang)">
            <label for="{{ 'trans-' + item.lang }}" class="pr-1">{{ item.lang }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <audio controls class="w-100 bg-light" *ngIf="ayah && surahData.audio">
      <source src = "{{surahData.audio}}" type="audio/wav" />
      Your browser does not support the <code>audio</code> element.
  </audio>
  <!-- detail view contents -->
  <app-ayah-list [surahData]="surahData" [translations]="translations"></app-ayah-list>
</div>