<div class="container-fluid fixed-bottom bg-dark p-2">

  <div class="row col-12 p-0 m-0">
    <!-- Default dropup button -->
    <div class="btn-group dropdown p-0 pr-2" style="width:100px;">
      
      <button type="button" class="mr-1 btn btn-secondary dropdown-toggle p-1 icon-surah text-right border-0" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{surahIndex}}
      </button>
      
      <div class="dropdown-menu">
        <h6 class="border-bottom py-2 px-4">Select Surah</h6>
        <ul style="overflow: auto;max-height: 70vh;" class="m-0 p-0">
          <!-- Dropdown menu links -->
          <li class="dropdown-item px-3" [ngClass]="{'active text-white': surahIndex === (i + 1)}"
            (click)="surahSelected(i + 1)" *ngFor="let surah of surahList; let i = index">
            <span class="py-2 font-weight-bold">{{ i + 1 }} - {{ surah.name }}</span><br />
            <span class="pl-4 text-black-50"
              [ngClass]="{'text-white-50': surahIndex === (i + 1)}">{{ surah.englishName }}</span>
          </li>
        </ul>
        <a (click)="surahSelected(0)" *ngIf="surahIndex" class="d-block text-center border-top p-1">Reset Selection</a>

      </div>
    </div>

    <input type="text" (input)="inputChange()" class="col m-0 bg-dark p-0 px-2 text-white-50 border-0"
    placeholder="Ayah number" [(ngModel)]="inputValue" />

    <label class="text-white-50 p-0 m-0" style="line-height: 2em; width:100px;"> of {{ maxInputLimit }}</label>

    <button class="float-right btn btn-primary p-0 m-0 icon-seek border-0" value='Search' (click)='searchClick()' [routerLink]="'/'"
    [queryParams]="{ayah : inputValue}" style="width: 50px;">Search</button>
  </div>


 
  
  
</div>