/* You can add global styles to this file, and also import other style files */
.icon-prev {
    background: url(./assets/svg/arrow_left.svg) no-repeat left center;
    padding-left:18px;
}

.icon-next {
    background: url(./assets/svg/arrow_right.svg) no-repeat right center;
    padding-right: 18px;
}

.icon-more {
    background: url(./assets/svg/more_icon.svg) no-repeat center center;
    //padding-right: 18px;
}
.icon-surah {
    background: url(./assets/svg/surah-icon.svg) no-repeat left center;
}

.icon-seek {
    background: url(./assets/svg/search-icon.svg) no-repeat center center;
    background-size: 25px;
    text-indent: -99999px;
}

.font-ar{
    font-family: 'kitab';
    font-size: 2em;
    direction: rtl;
}

.font-tr {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.1em;
    direction: ltr;
}

.sub-title{
    font-size: 1.1em;
    border: solid 1px white;
    border-radius: 5px;
}

.ayah-index{
    border: solid 1px #ccc;
    background-color: #ccc;
    font-size: .5em;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: white;
}