<div class="col-12 m-0 pb-4 mb-5">
    <!-- <div *ngFor="let item of surahData.audios" class="border-bottom">
        <ul class="list-group">
            <li class="list-group-item border-0 text-right p-0" *ngFor="let ayah of item">
    <audio controls="play" class="w-100 bg-light" *ngIf="ayah.audio" #qseekPlayer>
        <source src = "{{item.audio}}" type="audio/wav" />
        Your browser does not support the <code>audio</code> element.
    </audio>
    </li>
    </ul>
  </div> -->
    <div *ngFor="let item of surahData.ayahs, let i = index" class="border-bottom">
      <ul class="list-group">
        <li class="list-group-item border-0 text-right p-0" *ngFor="let ayah of item">
          <div *ngIf="ayah.lang === 'ar' || isSelectedTrans(ayah.lang)" class="py-1 font-ar"
            [ngClass]="{'bg-light border-bottom text-left font-tr': ayah.lang !== 'ar'}" >
            <span class="my-1 clearfix d-block text-white text-center px-1 text-white rounded bg-secondary" 
            style="width:30px;" *ngIf="ayah.lang !== 'ar'">{{ ayah.lang }}</span>
            <a (click)='reciteAyah(i, ayah.lang, $event)' >
              <span *ngIf="ayah.lang === 'ar'" class="ayah-index">{{i + 1}}</span>
              {{ ayah.verse }} </a>
            
            <!-- {{ ayah.verse }} -->
          </div>
          
        </li>
      </ul>
    </div>
  </div>